@import '../../styles/mixins';
@import '../../styles/variables';

.todo-card {
  background-color: $light-grey;
  padding: 20px;
  @include sizes(60vw, auto);

  &__heading {
    @include textStyles($fz-24, $medium, 24px, $dark-blue, center);
    margin-bottom: 20px;
  }

  .todo-section {
    background: $white;
    width: 100%;
    padding-right: 15px;

    & .input-container {
      @include flexStyles(flex, row, center, center);
      gap: 20px;
      padding: 20px;
    }
  }
}

.todo-input {
  border: none;
  outline: none;
  border-bottom: 2px solid $dark-grey;
  padding: 20px;
  @include sizes(100%, fit-content);
  border-bottom: 20px;

  &:focus {
    outline: none;
    border-bottom: 2px solid $dark-grey;
  }
}

.todo-item {
  padding: 10px;
  border-bottom: 1px solid $dark-grey;
  @include flexStyles(flex, row, space-between, center);

  & .content {
    @include flexStyles(flex, row, flex-start, center);
  }

  .circle {
    @include sizes(40px, 40px);
    border-radius: 100%;
    @include flexStyles(flex, row, center, center);
    border: 1px solid $dark-grey;
    margin-right: 30px;
  }

  .completed-todo-label {
    text-decoration: line-through;
  }

  .actions {
    @include flexStyles(flex, row, center, center);
    gap: 10px;
  }

  & :hover {
    cursor: pointer;
  }
}

.todo-list {
  margin-bottom: 20px;
}

.todo-card__footer {
  @include flexStyles(flex, row, space-between, flex-start);
  padding: 15px;

  .statuses {
    display: flex;
    gap: 5px;

    .active-status {
      border: 1px solid $dark-grey;
      padding: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    .inactive-status {
      padding: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hidden-checkbox {
  display: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #053D57; // Customize the color
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;

  &:hover {
    border-color: #80a5d7; // Optional hover effect
  }

  &:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #053d57; // Checked color
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
    border-radius: 2px;
  }
}

input:checked + .custom-checkbox::after {
  transform: translate(-50%, -50%) scale(1); // Show the checkmark
}