@import "../../styles/variables";

.todo-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  color: $dark-grey;
  border: 2px solid $light-grey;
  border-radius: 8px;
  background-color: $white;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: $dark-blue;
    box-shadow: 0 0 8px $dark-blue;
  }

  &:hover {
    border-color: $dark-blue;
  }

  &::placeholder {
    color: $light-grey;
    transition: color 0.3s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}
